<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bangers&display=swap">
<nav>
    <div *ngIf="userInfo" class="profile-container">
        <img [src]="userInfo?.info?.picture" alt="User Image" class="profile-pic">
        <span class="profile-name">{{ userInfo?.info?.name }}</span>
        <button class="logout-btn" (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
    </div>
    <a routerLink="/">Home</a>
    <a routerLink="/page1"><img src="assets/llama.png" alt="Dolly Model" class="round-btn"></a>
    <a routerLink="/page2"><img src="assets/llama2.png" alt="Dolly Model" class="round-btn"></a>
    <a routerLink="/page3"><img src="assets/dolly.png" alt="Dolly Model" class="round-btn"></a>
</nav>
  