<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bangers&display=swap">
<nav>
    <a routerLink="/" class="nav-btn-container">
        <img src="assets/home.jpg" alt="Home Button" class="round-btn">
        <span class="nav-btn-text">Home</span>
    </a>
    <a routerLink="/page1" class="nav-btn-container">
        <img src="assets/llama.png" alt="LLaMA Model" class="round-btn">
        <span class="nav-btn-text">LLaMA</span>
    </a>
    <a routerLink="/page2" class="nav-btn-container">
        <img src="assets/llama2.png" alt="LLaMA2 Model" class="round-btn">
        <span class="nav-btn-text">LLaMA II</span>
    </a>
    <a routerLink="/page3" class="nav-btn-container">
        <img src="assets/dolly.png" alt="Dolly Model" class="round-btn">
        <span class="nav-btn-text">Dolly</span>
    </a>
    <div *ngIf="userInfo" class="profile-container">
        <img [src]="userInfo?.info?.picture" alt="User Image" class="profile-pic">
        <span class="profile-name">{{ userInfo?.info?.name }}</span>
        <button class="logout-btn" (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
    </div>
</nav>
  